{% extends 'base.html' %}
{% block title %} SKATECH|ABOUT{% endblock %}
{% block content %}
<style>
    body, main{
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: large;
    }
    h3.container, figure.container{
        justify-content: flex-start;
        gap: .5em;
        margin-bottom: .5em;
    }
</style>
    <header>
        <h1 class="container">ABOUT SKATECH</h1>
         <div class="container">
              <label class="container" id="mode"
                ><input id="state" type="checkbox" />dark mode</label
              >
    </header>
    <main id="content-holder">
        <p>
            <strong>SKATECH</strong> is an innovative online media company founded by [NGO], a non-governmental
            organization committed to enhancing tech literacy among women and young individuals. The organization's
            mission goes beyond education, aiming to dismantle gender stereotypes, especially within the tech industry,
            and foster a more inclusive digital future.<br>
             In collaboration with <a href="http://" target="_blank"><strong>Xenonpulse</strong><i
                    class="bx bx-search-alt"></i></a>, a leading tech partner, SKATECH was created to deliver
            cutting-edge, first-hand information on the latest technological advancements and trends from around the
            globe. Whether it's the newest developments in artificial intelligence, blockchain, cybersecurity, or
            emerging startups, SKATECH ensures its readers stay ahead of the curve.
            But SKATECH doesn't stop at tech news. With a commitment to providing diverse and high-quality content, the
            platform also offers insightful reporting on the <strong>entertainment</strong> and <strong>finance</strong> sectors. From breaking
            news in the entertainment industry to market analysis and financial trends, SKATECH caters to a broad
            audience seeking reliable, up-to-date information.
            Over the years, SKATECH has become a trusted source of information, recognized for its dedication to
            accuracy, inclusivity, and relevance. The plat  form is the go-to choice for anyone looking to stay informed
            on global trends, industry insights, and thought-provoking content that shapes the future of technology and
            beyond.
        <section>
            <h2>Mission Statement:</h2>
            <p>At SKATECH, we believe in a world where technology is accessible to all, free from gender bias. Our
                mission is to inspire and empower women and young people by breaking down barriers in tech literacy and
                fostering a more inclusive future, one story at a time.</p>
        </section>
        </p>
        <section>
            <h2>OUR PARTNERS</h2>
            <div>
                <h3 class="container"><img src="../media/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871 copy.jpg" alt="" class="logo">Xenonpulse &#10095;</h3>
                <p></p>
            </div>
            <div>
                <h3 class="container"><img src="../media/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871 copy.jpg" alt="" class="logo">[NGO] &#10095;</h3>
                <p></p>
            </div>
        </section>
        <section>
            <h2>MEET THE TEAM</h2>
            <a href="">
            <figure class="container">
                <img src="../media/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871 copy.jpg" alt="" class="logo">
                <figcaption>
                    <h4>Stellamaris Ashinze</h4>
                    <p>CEO, founder [NGO].</p>
                </figcaption>
            </figure>
            </a>
            <a href="">
            <figure class="container">
                <img src="../media/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871 copy.jpg" alt="" class="logo">
                <figcaption>
                    <h4>Chukwufumnaya Ashinze</h4>
                    <p>CEO Xenonpulse, head SKATECH tech team.</p>
                </figcaption>
            </figure>
            </a>
            <a href="">
            <figure class="container">
                <img src="../media/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871 copy.jpg" alt="" class="logo">
                <figcaption>
                    <h4>Anthonia Ashinze</h4>
                    <p>lead editor, director, marketing and advertising team.</p>
                </figcaption>
            </figure>
            </a>
            <a href="">
            <figure class="container">
                <img src="../media/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871 copy.jpg" alt="" class="logo">
                <figcaption>
                    <h4>Stellamaris Ashinze</h4>
                    <p>CEO, founder [NGO].</p>
                </figcaption>
            </figure>
            </a>
        </section>
    </main>
{% endblock %}