   {% load static %}
   <footer class="container" id="page-footer">
    <section id="write-up">
      <figure class="container">
        <img src="{% static 'media/Logo.jpg' %}" alt="SKATECH" class="logo" />
        <figcaption>
          <h2>SKATECH</h2>
          <span class="container" id="social-media-handles">
            <a href="" class="social-media">
              <i class="bx bxl-instagram-alt"></i>
            </a>
            <a href="" class="social-media">
              <i class="bx bxl-twitter"></i>
            </a>
            <a href="" class="social-media">
              <i class="bx bxl-whatsapp-square"></i>
            </a>
            <a href="" class="social-media">
              <i class="bx bxl-telegram"></i>
            </a>
          </span>
        </figcaption>
      </figure>
      SKATECH is a company under the [NGO], in partnership with
      <a href="http://" target="_blank">Xenonpulse<i class="bx bx-search-alt"></i></a>, aimed at delivering quality and
      up-to-date information on the latest
      happenings from around the world. Our platform is dedicated to providing
      users with accurate, comprehensive coverage across all aspects of global
      events.
    </section>
    <div class="container others">
      <section class="others-child" id="quick-links">
        <h2>QUICK LINKS</h2>
        <ul>
          <li>
            <a href="{% url 'about' %}" class="links">
              <h3>About SKATECH</h3>
            </a>
          </li>
          <li>
            <a href="" target="_blank" class="links">
              <h3>NGO</h3>
            </a>
          </li>
          <li>
            <a href="{%url 'feedback' %}" target="_blank" class="links">
              <h3>Report&Feedback</h3>
            </a>
          </li>
          <li>
            <a href="advertise" target="_blank" class="links">
              <h3>Place an Advert</h3>
            </a>
          </li>
        </ul>
      </section>
      <section class="others-child" id="contributions">
        <div>
          <h2>NEWS LETTER</h2>
          <form action="index.html" id="newsletter" class="">
            <input type="email" id="email" required />
            <button id="submit">Sign Up</button>
          </form>
        </div>
      </section>
    </div>
    <div>
      <h2>SUPPORT US</h2>
      <p>Help support the growth and expansion of our NGO.</p>
      <form class="container" action="" id="SUPPORT">
        <div class="container holder">
          <label><input class="support-features" type="radio" name="card-type" id="mastercard" /><span><i
                class="bx bxl-mastercard"></i></span></label>
          <label><input class="support-features" type="radio" name="card-type" id="american" /><span><i
                class="bx bxl-mastercard"></i></span></label>
          <label><input class="support-features" type="radio" name="card-type" id="visa" /><span><i
                class="bx bxl-visa"></i></span></label>
          <label><input class="support-features" type="radio" name="card-type" id="paypal" /><span><i
                class="bx bxl-paypal"></i></span></label>
        </div>
        <input class="support-features" type="text" placeholder="Card number" required />
        <input class="support-features" type="text" placeholder="cvv" required />
        <input class="support-features" type="text" placeholder="Card expiry date" required />
        <input class="support-features" type="text" placeholder="Amount($)" required />
        <button class="support-features" type="submit">DONATE</button>
      </form>
    </div>
    <div class="container" id="base">
      <p class="copywright container">
        copyright &COPY; Xenonpulse&nbsp;<span id="year"></span>&nbsp; All
        Rights Reserved
      </p>
      <a href="#head" id="to-top"><i class="bx bxs-up-arrow-circle"></i></a>
    </div>
  </footer>