@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@custom-variant show (&:where(.show, .show *));

@theme {
  --spacing: 0.25em;
  --color-basef: #ffffff;
  --color-bg2: #f6f6f9;
  --color-bg3: #DDDEE4;
  --color-txt: #171719;
  --color-txt2: #162654;
  --color-txt3: #4067C9;
  --color-btn: #022171;
  --font-xtra: 'Space Grotesk', cursive;
  --text-span: 0.81rem;
  --text-trn: 1.5rem;
  --text-cta: 1rem;
  --text-p: clamp();
  --text-h1: clamp();
  --text-h2: clamp();
  --text-h3: clamp();
  --flex-grower: 1 1 min(100px, 10%);

}

body{
  font-family: 'Inter', sans-serif;
}

.special{
  flex: 0 1 min(450px, 100%);
}

.spec{
  flex: 0 1 min(400px, 70%);
}

.outline-sp{
  outline: 3px solid black;
  outline-offset: -3px;
}

.ratio{
  aspect-ratio: 2/1.5;
}